# Generated
# TODO: For now, Github runner can't generate the images, so just store them to git
#static/images/generated/
static/feed.atom
src/svelte/routes/blog
.venv

.DS_Store
node_modules
/dist
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
