[Unit]
Description=Agate gemini server
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/srv/gemini/
ExecStart=/opt/agate-{{ agate_version }} --addr 0.0.0.0:1965 --hostname tiuraniemi.org --lang en --content content

Restart=always
RestartSec=1

SyslogIdentifier=gemini

[Install]
WantedBy=multi-user.target
