[Unit]
Description=Agate gemini server
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/srv/gemini/
ExecStart=/opt/agate-{{ agate_version }} --hostname tiuraniemi.io --lang en --content content

Restart=always
RestartSec=1

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gemini

[Install]
WantedBy=multi-user.target
