{
  "cloudflare": [
    {
      "authentication": {
          "api_token": "{{ cloudflare_api_token }}"
      },
      "zone_id": "tiuraniemi.io",
      "subdomains": [
          ""
      ],
      "proxied": false
    }
  ],
  "a": true
}
