{
  "cloudflare": [
    {
      "authentication": {
          "api_token": "{{ cloudflare_api_token }}"
      },
      "zone_id": "{{ cloudflare_zone_id }}",
      "subdomains": [
          ""
      ],
      "proxied": false
    }
  ],
  "a": true,
  "aaaa": false
}
