[Unit]
Description=Cloudflare DDNS
ConditionPathExists=/etc/cloudflare-ddns/config.json
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=CONFIG_PATH=/etc/cloudflare-ddns
ExecStart=/opt/cloudflare-ddns/{{ cloudflare_ddns_version }}/cloudflare-ddns

[Install]
WantedBy=multi-user.target
