[Unit]
Description=Extendedmind Server
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/var/opt/extendedmind/
User=extendedmind
Group=extendedmind

ExecStart=/opt/extendedmind/{{ extendedmind_server_version }}/extendedmind_server \
--admin-socket-file /var/opt/extendedmind/extendedmind_server.sock \
start \
--static-root-dir /var/opt/extendedmind/www \
--http-port 80 \
--https-port 443 \
--log-dir /var/opt/extendedmind/logs \
--metrics-dir /var/opt/extendedmind/metrics \
--metrics-endpoint /api/metrics \
--metrics-secret {{ extendedmind_server_metrics_secret }} \
--metrics-skip-compress true \
--domain tiuraniemi.org \
--acme-email timo.tiuraniemi@iki.fi \
--acme-dir /var/opt/extendedmind/.certificates \
--acme-production true \
--hsts-max-age 31536000 \
--hsts-permanent-redirect true \
--hsts-preload true \
--cache-ttl-sec 31556952 \
--cache-tti-sec 31556952 \
--cache-max-size 10000000 \
--inline-css-path /blog/* \
--inline-css-skip-referer https://tiuraniemi.org* \
--immutable-path /_app/immutable/*.css \
--immutable-path /_app/immutable/*.js \
--proxy /atuin|http://localhost:8888/atuin

Restart=always
RestartSec=1
LimitNOFILE=65536

SyslogIdentifier=extendedmind_server

# Hardening options
CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=true
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
PrivateTmp=true
PrivateDevices=true
LockPersonality=true

[Install]
WantedBy=multi-user.target
