[Unit]
Description=Extendedmind Server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/extendedmind_server \
--admin-socket-file /var/run/extendedmind_server.sock \
start \
--data-root-dir /srv/peermerge/content \
--static-root-dir /srv/www/content \
--http-port 80 \
--https-port 443 \
--tcp-port 21 \
--log-dir /srv/www/logs \
--metrics-dir /srv/www/metrics \
--metrics-endpoint /api/metrics \
--metrics-secret {{ extendedmind_server_metrics_secret }} \
--metrics-skip-compress true \
--domain tiuraniemi.org \
--acme-email timo.tiuraniemi@iki.fi \
--acme-dir /srv/www/.certificates \
--acme-production true \
--hsts-max-age 31536000 \
--hsts-permanent-redirect true \
--hsts-preload true \
--cache-ttl-sec 31556952 \
--cache-tti-sec 31556952 \
--cache-max-size 10000000 \
--inline-css-path /blog/* \
--inline-css-skip-referer https://tiuraniemi.org* \
--immutable-path /_app/immutable/*.css \
--immutable-path /_app/immutable/*.js \
--backup-dir /srv/backup \
--backup-ssh-recipients-file /home/pi/.ssh/authorized_keys \
--backup-email-from {{ backup_email_to }} \
--backup-email-to {{ backup_email_from }} \
--backup-email-smtp-host {{ backup_email_smtp_host }} \
--backup-email-smtp-username {{ backup_email_smtp_username }} \
--backup-email-smtp-password {{ backup_email_smtp_password }}

Restart=always
RestartSec=1
LimitNOFILE=65536

SyslogIdentifier=extendedmind_server

[Install]
WantedBy=multi-user.target
