[Unit]
Description=Extendedmind Hub Server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/extendedmind_hub \
--data-root-dir /srv/hyper/content \
--static-root-dir /srv/www/content \
--http-port 80 \
--https-port 443 \
--log-dir /srv/www/logs \
--metrics-dir /srv/www/metrics \
--metrics-endpoint /api/metrics \
--metrics-secret {{ extendedmind_hub_metrics_secret }} \
--skip-compress-mime application/json \
--domain tiuraniemi.io \
--acme-email timo.tiuraniemi@iki.fi \
--acme-dir /srv/www/.certificates \
--acme-production true \
--hsts-max-age 31536000 \
--hsts-permanent-redirect true \
--hsts-preload true \
--cache-ttl-sec 31556952 \
--cache-tti-sec 31556952 \
--inline-css-path /blog/* \
--inline-css-skip-referer https://tiuraniemi.io* \
--immutable-path /_app/immutable/*.css \
--immutable-path /_app/immutable/*.js \
--backup-dir /srv/backup \
--backup-ssh-recipients-file /home/pi/.ssh/authorized_keys

Restart=always
RestartSec=1

SyslogIdentifier=extendedmind_hub

[Install]
WantedBy=multi-user.target
