RESTIC_REPOSITORY="s3:{{ restic_s3_endpoint }}/{{ restic_s3_bucket_name }}"
RESTIC_PASSWORD="{{ restic_password }}"
RESTIC_CACHE_DIR="/var/opt/restic"
AWS_ACCESS_KEY_ID="{{ restic_s3_access_key_id }}"
AWS_SECRET_ACCESS_KEY="{{ restic_s3_secret_key }}"
