name: Upgrade
on:
    # Run the upgrade at night UTC
    schedule:
        - cron: '00 04 * * *'
jobs:
    upgrade:
        name: Upgrade the server with Ansible
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Run ansible
              uses: dawidd6/action-ansible-playbook@v2
              with:
                  directory: deploy
                  playbook: upgrade.yml
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
                  options: --inventory hosts.yml
